.container {
  position: relative;
  padding: 15px;
  transition: all 0.3s ease-in;
  width: 355px;
  height: 444px;
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_item {
  text-decoration: none;
  cursor: pointer;
}

.disabled_item {
  cursor: not-allowed;
  opacity: 0.4;
}

.disabled_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
}

.title {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

.price {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-weight: 500;
  color: #333;
}

.container:hover .cart_icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ece7b;
  border-radius: 50%;
  padding-right: 4px;

  width: 52px;
  height: 52px;

  bottom: 110px;
  right: 25px;

  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.product_image {
  position: relative;
}

.product_image img {
  transition: all 0.24s linear;
  cursor: pointer;
}

.product_image:hover img {
  filter: brightness(65%);
}

.product_image:hover .arrows {
  visibility: visible;
}

.arrows {
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 30px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;

  cursor: pointer;
  z-index: 20;
}

.left_arrow {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.right_arrow {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
