.container {
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  width: 63px;
  height: 45px;
  margin-right: 15px;

  cursor: pointer;
}

.selected_item {
  background: #1d1f22;
  color: #fff;
}
