.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  opacity: 0.9;
}

.btn-lg {
  padding: 20px 16px;
}

.btn-md {
  padding: 12px 0px;
}

.primary {
  background: #5ece7b;
  color: #fff;
  border: none;
}

.outlined {
  background: transparent;
  color: #333;
  border: 1px solid #333;
}
